---
title: Driverworks Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - lua

toc_footers:
  - <a href='https://github.com/lord/slate'>Documentation Powered by Slate</a>

includes:
  - copyright/index
  - whats_new/index
  - controller_registry/index
  - director_command/index
  - encryption/index
  - event/index
  - file/index
  - helper/index
  - inbound/index
  - ir/index
  - json/index
  - log/index
  - lua_tcp_client/index
  - lua_tcp_server/index
  - media_management_albums/index
  - media_management_broadcast_video/index
  - media_management_generic/index
  - media_management_miscellaneous/index
  - media_management_movies/index
  - media_management_songs/index
  - miscellaneous/index
  - notification/index
  - properties/index
  - proxy/index
  - registry/index
  - scheduler_agent/index
  - scheduler_agent_add_event/index
  - scheduler_agent_delete_event/index
  - scheduler_agent_get_event/index
  - scheduler_agent_modify_event/index
  - serial_network_device/index
  - server_sockets/index
  - timer/index
  - url/index
  - variable/index
  - web_service/index
  - zigbee/index


search: true
---

# Introduction

Welcome to the Driverworks API Reference Guide. This guide defines all of the APIs available through the DriverWorks SDK.  You can use Driverworks to write Control4 drivers that connect a Control4 system with third party devices or to extend the functionality of a Control4 system.
All Driverworks drivers are a combination of source code written in Lua and a configuration file written in XML.
