---
title: Driverworks Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - lua

toc_footers:
  - <a href='https://github.com/lord/slate'>Documentation Powered by Slate</a>

includes:
  - copyright
  - whats_new
  - controller_registry
  - director_command
  - encryption
  - event
  - file
  - helper
  - inbound
  - ir
  - json
  - log
  - lua_tcp_client
  - lua_tcp_server
  - media_management_albums
  - media_management_broadcast_video
  - media_management_generic
  - media_management_miscellaneous
  - media_management_movies
  - media_management_songs
  - miscellaneous
  - notification
  - properties
  - proxy
  - registry
  - scheduler_agent
  - scheduler_agent_add_event
  - scheduler_agent_delete_event
  - scheduler_agent_get_event
  - scheduler_agent_modify_event
  - serial_network_device
  - server_sockets
  - timer
  - url
  - variable
  - web_service 
  - zigbee


search: true
---

# Introduction

Welcome to the Driverworks API Reference Guide. This guide defines all of the APIs available through the DriverWorks SDK.  You can use Driverworks to write Control4 drivers that connect a Control4 system with third party devices or to extend the functionality of a Control4 system.
All Driverworks drivers are a combination of source code written in Lua and a configuration file written in XML.
